=begin
#Gong API



OpenAPI spec version: V2

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.37
=end

module GongAPI
  class DataPrivacyApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve all references to an email address. (/v2/data-privacy/data-for-email-address)
    # Shows the elements in the Gong system that reference the given email address. Given an emails address, this endpoint returns details of all calls and email messages that reference this address, and any leads or contacts with this email address.  When accessed through a Bearer token authorization method, this endpoint requires the scope 'api:data-privacy:read'.
    # @param email_address The email address.
    # @param [Hash] opts the optional parameters
    # @return [EmailAddressReferences]
    def find_all_references_to_email_address_using_get(email_address, opts = {})
      data, _status_code, _headers = find_all_references_to_email_address_using_get_with_http_info(email_address, opts)
      data
    end

    # Retrieve all references to an email address. (/v2/data-privacy/data-for-email-address)
    # Shows the elements in the Gong system that reference the given email address. Given an emails address, this endpoint returns details of all calls and email messages that reference this address, and any leads or contacts with this email address.  When accessed through a Bearer token authorization method, this endpoint requires the scope &#x27;api:data-privacy:read&#x27;.
    # @param email_address The email address.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailAddressReferences, Integer, Hash)>] EmailAddressReferences data, response status code and response headers
    def find_all_references_to_email_address_using_get_with_http_info(email_address, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataPrivacyApi.find_all_references_to_email_address_using_get ...'
      end
      # verify the required parameter 'email_address' is set
      if @api_client.config.client_side_validation && email_address.nil?
        fail ArgumentError, "Missing the required parameter 'email_address' when calling DataPrivacyApi.find_all_references_to_email_address_using_get"
      end
      # resource path
      local_var_path = '/v2/data-privacy/data-for-email-address'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'emailAddress'] = email_address

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'EmailAddressReferences' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataPrivacyApi#find_all_references_to_email_address_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve all references to a phone number. (/v2/data-privacy/data-for-phone-number)
    # Shows the elements in the Gong system that reference the given phone number. Given a phone number, this endpoint returns details of any leads or contacts with this phone number and their associated calls and email messages.  When accessed through a Bearer token authorization method, this endpoint requires the scope 'api:data-privacy:read'.
    # @param phone_number The phone number.  This number must start with a + (plus) sign followed by the country code, area code, and local phone number. All other non-digits are ignored.  The following are examples of permitted phone numbers: +1 425 555 2671, +1-425-555-2671, +1 425 5552671, +14255552671, +1 425 555 26 71, +1(425) 555-2671, etc.  Note: This parameter should be URL-encoded.
    # @param [Hash] opts the optional parameters
    # @return [PhoneNumberReferences]
    def find_all_references_to_phone_number_using_get(phone_number, opts = {})
      data, _status_code, _headers = find_all_references_to_phone_number_using_get_with_http_info(phone_number, opts)
      data
    end

    # Retrieve all references to a phone number. (/v2/data-privacy/data-for-phone-number)
    # Shows the elements in the Gong system that reference the given phone number. Given a phone number, this endpoint returns details of any leads or contacts with this phone number and their associated calls and email messages.  When accessed through a Bearer token authorization method, this endpoint requires the scope &#x27;api:data-privacy:read&#x27;.
    # @param phone_number The phone number.  This number must start with a + (plus) sign followed by the country code, area code, and local phone number. All other non-digits are ignored.  The following are examples of permitted phone numbers: +1 425 555 2671, +1-425-555-2671, +1 425 5552671, +14255552671, +1 425 555 26 71, +1(425) 555-2671, etc.  Note: This parameter should be URL-encoded.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PhoneNumberReferences, Integer, Hash)>] PhoneNumberReferences data, response status code and response headers
    def find_all_references_to_phone_number_using_get_with_http_info(phone_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataPrivacyApi.find_all_references_to_phone_number_using_get ...'
      end
      # verify the required parameter 'phone_number' is set
      if @api_client.config.client_side_validation && phone_number.nil?
        fail ArgumentError, "Missing the required parameter 'phone_number' when calling DataPrivacyApi.find_all_references_to_phone_number_using_get"
      end
      # resource path
      local_var_path = '/v2/data-privacy/data-for-phone-number'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'phoneNumber'] = phone_number

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'PhoneNumberReferences' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataPrivacyApi#find_all_references_to_phone_number_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete the email address, and all associated elements (/v2/data-privacy/erase-data-for-email-address)
    # Given an email address, this endpoint deletes from the Gong system any calls or email messages that reference this address. Email messages sent to or from the address are deleted. Calls where the email address appears (as a lead, contact, attendee or speaker) are deleted. Leads or Contacts with the email address are deleted. The deletion is not immediate, and may take several hours to complete.  This endpoint contains a data integrity protection mechanism to prevent the deletion of an abnormal number of objects. If the deletion fails please contact support at help@gong.io  Delete the data from your CRM and email system before performing this operation so that private data is not re-imported into Gong.  When accessed through a Bearer token authorization method, this endpoint requires the scope 'api:data-privacy:delete'.
    # @param email_address The email address.
    # @param [Hash] opts the optional parameters
    # @return [BaseResponse]
    def purge_email_address_using_post(email_address, opts = {})
      data, _status_code, _headers = purge_email_address_using_post_with_http_info(email_address, opts)
      data
    end

    # Delete the email address, and all associated elements (/v2/data-privacy/erase-data-for-email-address)
    # Given an email address, this endpoint deletes from the Gong system any calls or email messages that reference this address. Email messages sent to or from the address are deleted. Calls where the email address appears (as a lead, contact, attendee or speaker) are deleted. Leads or Contacts with the email address are deleted. The deletion is not immediate, and may take several hours to complete.  This endpoint contains a data integrity protection mechanism to prevent the deletion of an abnormal number of objects. If the deletion fails please contact support at help@gong.io  Delete the data from your CRM and email system before performing this operation so that private data is not re-imported into Gong.  When accessed through a Bearer token authorization method, this endpoint requires the scope &#x27;api:data-privacy:delete&#x27;.
    # @param email_address The email address.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BaseResponse, Integer, Hash)>] BaseResponse data, response status code and response headers
    def purge_email_address_using_post_with_http_info(email_address, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataPrivacyApi.purge_email_address_using_post ...'
      end
      # verify the required parameter 'email_address' is set
      if @api_client.config.client_side_validation && email_address.nil?
        fail ArgumentError, "Missing the required parameter 'email_address' when calling DataPrivacyApi.purge_email_address_using_post"
      end
      # resource path
      local_var_path = '/v2/data-privacy/erase-data-for-email-address'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'emailAddress'] = email_address

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'BaseResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataPrivacyApi#purge_email_address_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete the phone number, and all associated elements (/v2/data-privacy/erase-data-for-phone-number)
    # Given a phone number, this endpoint deletes from the Gong system any leads or contacts with a matching phone number or mobile phone number. Email messages sent to or from these leads/contacts are deleted. Calls where the leads/contacts appear are deleted. The deletion is not immediate, and may take several hours to complete.  This endpoint contains a data integrity protection mechanism to prevent the deletion of an abnormal number of objects. If the deletion fails please contact support at help@gong.io  Delete the data from your CRM and email system before performing this operation so that private data is not re-imported into Gong.  When accessed through a Bearer token authorization method, this endpoint requires the scope 'api:data-privacy:delete'.
    # @param phone_number The phone number.  This number must start with a + (plus) sign followed by the country code, area code, and local phone number. All other non-digits are ignored.  The following are examples of permitted phone numbers: +1 425 555 2671, +1-425-555-2671, +1 425 5552671, +14255552671, +1 425 555 26 71, +1(425) 555-2671, etc.  Note: This parameter should be URL-encoded.
    # @param [Hash] opts the optional parameters
    # @return [BaseResponse]
    def purge_phone_number_using_post(phone_number, opts = {})
      data, _status_code, _headers = purge_phone_number_using_post_with_http_info(phone_number, opts)
      data
    end

    # Delete the phone number, and all associated elements (/v2/data-privacy/erase-data-for-phone-number)
    # Given a phone number, this endpoint deletes from the Gong system any leads or contacts with a matching phone number or mobile phone number. Email messages sent to or from these leads/contacts are deleted. Calls where the leads/contacts appear are deleted. The deletion is not immediate, and may take several hours to complete.  This endpoint contains a data integrity protection mechanism to prevent the deletion of an abnormal number of objects. If the deletion fails please contact support at help@gong.io  Delete the data from your CRM and email system before performing this operation so that private data is not re-imported into Gong.  When accessed through a Bearer token authorization method, this endpoint requires the scope &#x27;api:data-privacy:delete&#x27;.
    # @param phone_number The phone number.  This number must start with a + (plus) sign followed by the country code, area code, and local phone number. All other non-digits are ignored.  The following are examples of permitted phone numbers: +1 425 555 2671, +1-425-555-2671, +1 425 5552671, +14255552671, +1 425 555 26 71, +1(425) 555-2671, etc.  Note: This parameter should be URL-encoded.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BaseResponse, Integer, Hash)>] BaseResponse data, response status code and response headers
    def purge_phone_number_using_post_with_http_info(phone_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataPrivacyApi.purge_phone_number_using_post ...'
      end
      # verify the required parameter 'phone_number' is set
      if @api_client.config.client_side_validation && phone_number.nil?
        fail ArgumentError, "Missing the required parameter 'phone_number' when calling DataPrivacyApi.purge_phone_number_using_post"
      end
      # resource path
      local_var_path = '/v2/data-privacy/erase-data-for-phone-number'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'phoneNumber'] = phone_number

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'BaseResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataPrivacyApi#purge_phone_number_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
